<div data-theme={@theme} class={@theme}>
  <.flash kind={:info} flash={@flash} />
  <.flash kind={:error} flash={@flash} />
  <div class="flex divide-x-2 px-4 sm:px-6 lg:px-8 divide-gray-300 dark:divide-gray-600">
    <div class="flex-none w-1/5 px-2 h-screen overflow-clip pt-8">
      <div class="flex flex-col justify-between h-full">
        <.live_component module={ChatGPTWeb.ChatLogic} id="chat-logic" />
        <span class="flex justify-center items-center gap-4 mb-8 cursor-pointer">
          <span phx-click="toggle-theme">
            <%= if @theme == "light" do %>
              <.icon name="hero-moon" class="w-8 h-8" />
            <% else %>
              <.icon name="hero-sun" class="w-8 h-8" />
            <% end %>
          </span>

          <span phx-click="toggle-mode">
            <%= if @mode == :chat do %>
              <.link patch={~p"/chat/search"}>
                <.icon name="hero-magnifying-glass" class="w-8 h-8" />
              </.link>
            <% else %>
              <.link patch={~p"/chat"}>
                <.icon name="hero-chat-bubble-oval-left-ellipsis" class="w-8 h-8" />
              </.link>
            <% end %>
          </span>
        </span>
      </div>
    </div>

    <%= if @mode == :chat do %>
      <.live_component module={ChatGPTWeb.Chat} id="chat-component" chat={nil} />
    <% else %>
      <.live_component module={ChatGPTWeb.Search} id="search-component" />
    <% end %>
  </div>
</div>
